* {
  font-family: 'Share', cursive;
}

body {
  background-color: #ebeff6;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#makeApiCall {
  border: 1px solid #0077dd;
  border-radius: 0.5rem;
  /* margin-top: -6rem; */
  /* margin-left: 47rem; */
  /* position: relative; */
}
.bordered {
  border-radius: 1rem;
  border: 1px solid #000;
  margin-top: 1rem;
}


.sitelogo {
  height: 80%;
  position: relative;
  top: 10%;
  left: 2%;
}

.nav-wrapper {
  background-color: #cacaca;
}

.card-back {
  background-color: #162851;
}

.side-back {
  background-color: #aab0bf;
}

.no-margin {
  margin-top: 0px;
}

.add-btn {
  margin: 0px !important;
  color: lightgreen !important;
}

.minus-btn {
  margin: 0px !important;
  color: red !important;
}

/* .search-btn {
  margin-top: -3.5rem;
  background-color: #2b3b60 !important;
  float: right;
  position: relative;
} */

.mini-margin {
  margin-top: 0.5rem;
}

.ci-footer {
  padding: 0px !important;
  background-color: #cacaca !important;
  bottom: 0px;
  position: inherit;
  min-width: -webkit-fill-available;
  width: 100%;
  margin-top: 3rem;
}
