* {
  font-family: 'Share', cursive;
}

body {
  background-color: #ebeff6;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#makeApiCall {
  border: 1px solid #0077dd;
  border-radius: 0.5rem;
  /* margin-top: -6rem; */
  /* margin-left: 47rem; */
  /* position: relative; */
}

.bordered {
  border-radius: 1rem;
  border: 1px solid #000;
  margin-top: 1rem;
}


.sitelogo {
  height: 80%;
  position: relative;
  top: 10%;
  left: 2%;
}

.nav-wrapper {
  background-color: #cacaca;
}

.card-back {
  background-color: #162851;
}

.side-back {
  background-color: #aab0bf;
}

.no-margin {
  margin: 0px;
}

.add-btn {
  margin: 0px !important;
  color: lightgreen !important;
}

.minus-btn {
  margin: 0px !important;
  color: red !important;
}

/* .search-btn {
  margin-top: -3.5rem;
  background-color: #2b3b60 !important;
  float: right;
  position: relative;
} */

.mini-margin {
  margin-top: 0.5rem;
}

.ci-footer {
  padding: 0px !important;
  background-color: #cacaca !important;
  bottom: 0;
  position: sticky;
  min-width: -webkit-fill-available;
  width: 100%;
  margin-top: 3rem;
  font-size: 1rem;
}


.watchlistTitle {
  font-size: 4rem;
  text-overflow: clip;
}

input::placeholder {
  margin-left: 1rem;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0px;
  padding-left: 0.5rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.red-input-fail::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(150, 0, 0);
  opacity: 1;
  /* Firefox */
}

.red-input-fail:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(150, 0, 0);
}

.red-input-fail::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(150, 0, 0);
}

.fail-input-color {
  background-color: #ff888859 !important;
}

.ci-footer {
  padding: 0px !important;
  background-color: #cacaca !important;
  top: 100%;
  position: absolute;
  min-width: -webkit-fill-available;
  width: 100%;
  margin-top: 3rem;
  font-size: 1rem;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
.ci-watchlist {
  color: #0c0c0c !important;
}
