* {
  font-family: 'Share', cursive;
}

body {
  background-color: #ebeff6;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  border: 0.15rem solid #6291fc;
  box-shadow: inset 0 0 9px 0px #002c62;
  border-radius: 50%;
}

#makeApiCall {
  border: 1px solid #0077dd;
  border-radius: 0.5rem;
  /* margin-top: -6rem; */
  /* margin-left: 47rem; */
  /* position: relative; */
}
.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: #22d0fc;
}
.bordered {
  border-radius: 1rem;
  border: 1px solid #000;
  margin-top: 0rem;
  padding: 1.5rem !important;
}


.sitelogo {
  height: 80%;
  position: relative;
  top: 10%;
  left: 2%;
}

.nav-wrapper {
  background-color: #cacaca;
}

.card-back {
  background-color: #162851;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}
select {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  border: 1px solid #6291fc;
  border-radius: 2px;
  height: 3rem;
}

.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 10px 24px 15px;
  border-radius: .5rem;
}

.side-back {
  background-color: #aab0bf;
}

.no-margin {
  margin: 0px;
}

.add-btn {
  margin: 0px !important;
  color: lightgreen !important;
}

.minus-btn {
  margin: 0px !important;
  color: red !important;
}

/* .search-btn {
  margin-top: -3.5rem;
  background-color: #2b3b60 !important;
  float: right;
  position: relative;
} */

.mini-margin {
  margin-top: 0.5rem;
}

.watchlistTitle {
  font-size: 4rem;
  text-overflow: clip;
}

input::placeholder {
  margin-left: 1rem;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #6291fc;
  -webkit-box-shadow: 0 1px 0 0 #afc7fd;
  box-shadow: 0px 1px 0px 0px #afc7fd;
}
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0px;
  padding-left: 0.5rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid>input.select-dropdown {
  border-bottom: 1px solid #62d1fc;
  -webkit-box-shadow: 0 1px 0 0 #62d1fc;
  box-shadow: 0 1px 0 0 #a6e0f9;
}
.red-input-fail::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(150, 0, 0);
  opacity: 1;
  /* Firefox */
}

.red-input-fail:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(150, 0, 0);
}

.red-input-fail::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(150, 0, 0);
}

.fail-input-color {
  background-color: #ff888859 !important;
}

/* .ci-footer {
  padding: 0px !important;
  background-color: #cacaca !important;
  bottom: 0;
  position: sticky;
  min-width: -webkit-fill-available;
  width: 100%;
  margin-top: 3rem;
  font-size: 1rem;
} */
.ci-footer {
  padding: 0px !important;
  background-color: #cacaca !important;
  top: 100%;
  position: inherit;
  min-width: -webkit-fill-available;
  width: 100%;
  margin-top: 5rem;
  font-size: 1rem;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

.ci-watchlist {
  color: #0c0c0c !important;
}

.foot {
  top: 100%;
  margin-top: 100px;
  position: sticky;
}
#makeApiCall {
  border: 1px solid #0077dd;
  border-radius: 0.5rem;
  /* margin-top: -6rem; */
  /* margin-left: 47rem; */
  /* position: relative; */
}

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
  background-color: #6291fc;
}
.btn,
.btn-large,
.btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #6291fc;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}
.card {
  border: 1px solid #6291fc;
  margin: .5rem 0 1rem 0;
  border-radius: 0.5rem;
}
#stockCard {
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
}
.row .col {
  padding: 0 1.75rem;
}